name: release

on:
  push:
    tags:
      - "*"

permissions:
  contents: read

jobs:
  build:
    uses: ./.github/workflows/_build_wheels.yaml

  release:
    name: Release
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: write
      attestations: write
    steps:
      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7
        with:
          name: wheels
          path: dist

      - name: Generate artifact attestation
        uses: actions/attest-build-provenance@977bb373ede98d70efdf65b84cb5f73e068dcc2a # v3
        with:
          subject-path: "dist/*"

      - uses: pypa/gh-action-pypi-publish@release/v1
